.App{
  background: url(bgk.jpg);
  color:white;
  width:50%;
  height:100%;
  border-radius: 20px;
  margin: 30px ;
  padding:20px 20px;  
background-repeat: no-repeat;
display: flex;
;

}
.title{
margin-top: 2%;
margin-left: 30%;
  color:white;
  text-align: center;
}

.image-puce{

  border-radius: 20px;
}
.number{
  background-color: #ffeaa7;
  font-weight: bold;
  font-size: 1rem;
  color: #f7b731;
  width:20rem;
  text-align: center;
  padding:5px ;
}
.small-number{
  color:white;
  font-weight: bold;
  font-size: 1rem;
}
.cardholder{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;  
}
.firstapp{
  margin-bottom: 30%;

}
.second-part{
  margin-top: 30%;
  margin-right:30%;
display:flex;
justify-content: space-between;
}
.mastercard{
  margin-top:40%;
  margin-left:40%;
}
.valid{
  font-weight: bold;
}